<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBf5RRhnAnGKPVBph_BI__KbmE_CWMsnS0</string>
	<key>GCM_SENDER_ID</key>
	<string>462180354655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alhattami.anwarteacher</string>
	<key>PROJECT_ID</key>
	<string>anwaralola</string>
	<key>STORAGE_BUCKET</key>
	<string>anwaralola.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462180354655:ios:611dae991795577ba1e9ea</string>
</dict>
</plist>